@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevenir zoom en móvil */
* {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Permitir selección de texto en inputs y textareas */
input,
textarea,
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

/* Prevenir zoom con doble toque */
html {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
